<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perkox.reactnative">

    <application>
        <activity
            android:name="com.perkoxofferwall.sdk.OfferwallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
